<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security.xsd">

    <!--
    使用SpringSecurity实现登陆认证校验
    auto-config="true" 是否自动生成登陆页面(适合测试时候使用)
    use-expressions="false" 是否使用SpEl表达式
    security:intercept-url  对哪些url资源进行拦截
        pattern="/**" 拦截所有资源
        access="ROLE_USER" 访问所有资源必须要有ROLE_USER角色
    -->

    <!--指定放行的页面地址-->
    <security:http pattern="/login.html" security="none"/>
    <!--这个图标放行可以方式 因为此图标引起的404 问题 或者首次登陆跳转图标问题-->
    <security:http pattern="/favicon.ico" security="none"/>

    <security:http pattern="/css/**" security="none"></security:http>
    <security:http pattern="/js/**" security="none"></security:http>
    <security:http pattern="/img/**" security="none"></security:http>
    <security:http pattern="/plugins/**" security="none"></security:http>




    <!--指定拦截的资源, 登陆表单, 退出-->
    <security:http auto-config="true" use-expressions="false">
        <!--intercept 拦截的意思-->
        <security:intercept-url pattern="/**" access="ROLE_USER"/>

        <!--登陆后, 没权限访问某些页面~!-->
        <security:access-denied-handler error-page="/403.jsp" />

        <!--
         security:form-login    登陆表单配置
         login-page="/login.html"        登陆页面
         login-processing-url="/login"   登陆页面提交地址
         username-parameter="userName"   登陆页面用户名表单元素的名称
         password-parameter="password"   登陆页面密码表单元素的名称
         authentication-failure-url="/failer.html" 登陆失败自动跳转的页面
         default-target-url="/success.html"        登陆成功默认跳转的页面
         -->
        <!--登陆表单配置-->
        <security:form-login
            login-page="/login.html"
            login-processing-url="/login"
            username-parameter="username"
            password-parameter="password"

            authentication-failure-url="/403.html"


            always-use-default-target="true"
            default-target-url="/admin/index.html"/>
            <!--authentication[ɔ,θɛntɪ'keʃən] 验证-->

        <!--
           security:logout  退出配置
           logout-url="/logout"                退出的地址
           logout-success-url="/login.html"    退出成功后跳转的地址
           invalidate-session="true"           是否销毁session
           -->
        <!--退出-->
        <security:logout logout-url="/logout"
                         logout-success-url="/login.html"
                        invalidate-session="true"/>
        <!--关闭csrf验证-->
        <security:csrf disabled="true"/>
        <security:headers>
            <security:frame-options policy="SAMEORIGIN"/>
        </security:headers>
    </security:http>


    <!--指定运行访问系统的用户(用户先写死)-->
    <!--
        security:user 在内存中指定运行登陆的用户名、密码、用户的角色
            name="jack" 用户名
            password="{noop}888" 指定用户的密码，{noop}表示不使用加密器对密码进行加密
            authorities="ROLE_USER"    用户的角色，与上面的access="ROLE_USER"对应
    -->
    <security:authentication-manager>
        <security:authentication-provider>
            <security:user-service>
                <security:user name="admin" authorities="ROLE_USER" password="admin"/>
            </security:user-service>
        </security:authentication-provider>
    </security:authentication-manager>

    <!--&lt;!&ndash;使用spring 提供的高级加密方式, 类似加密加盐加迭代&ndash;&gt;-->
    <!--<bean id="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>-->



</beans>



